---

---

<div
  class='motion-reduce:animate-none animate-spin duration-10s absolute -bottom-32 left-0 opacity-30 -z-10 w-[35vw] h-[35vw] rounded-[50%] shadow-[inset_0_0_50px_hsl(var(--background)),inset_20px_0_80px_hsl(var(--ring)),inset_-20px_0_80px_hsl(var(--accent-foreground)),inset_20px_0_300px_hsl(var(--ring)),inset_-20px_0_300px_hsl(var(--accent-foreground)),0_0_50px_hsl(var(--background)),-10px_0_80px_hsl(var(--ring)),10px_0_80px_hsl(var(--accent-foreground))]'
>
</div>
