---

---

<div
  class='absolute bottom-0 left-0 -z-10 -translate-x-12 translate-y-8 md:-translate-x-32 md:-translate-y-10 opacity-30 drop-shadow-triangle'
>
  <div
    class='w-[30vw] h-[30vw] [clip-path:polygon(50%_0%,0%_100%,100%_100%)] bg-ring flex justify-center items-center'
  >
    <div
      class='w-[calc(30vw-30px)] h-[calc(30vw-30px)] bg-neutral-800 [clip-path:polygon(50%_0%,0%_100%,100%_100%)] mt-3 blur-[115px] drop-shadow-[-10px_-10px_75px_hsl(var(--ring))]'
    >
      <p></p>
    </div>
  </div>
</div>
