---
---
<div class="absolute -z-20 -translate-x-32 -translate-y-20 opacity-30 drop-shadow-triangle">
  <div class="w-[30vw] h-[30vw] [clip-path:polygon(50%_0%,0%_100%,100%_100%)] bg-ring flex justify-center items-center">
    <div class="w-[calc(30vw-30px)] h-[calc(30vw-30px)] bg-neutral-800 [clip-path:polygon(50%_0%,0%_100%,100%_100%)] mt-3 blur-[115px] drop-shadow-[-10px_-10px_75px_hsl(var(--ring))]">
      <p></p>
    </div>
  </div>
</div>