---
import AnimationToggle from '@/components/ui/AnimationToggle';
import ThemeToggle from '@/components/ui/ThemeToggle';
import { Icon } from 'astro-icon/components';
---

<header
  role='banner'
  class='flex w-full flex-col gap-2 md:flex-row md:justify-between gap-y-4 items-center border-b border-solid border-foreground py-8'
>
  <h1
    class='font-headline text-4xl md:text-8xl text-foreground grid sm:flex items-center justify-items-center'
  >
    simon<span class='text-2xl md:text-4xl text-shadow-accent'> x </span>porter
  </h1>

  <nav role='navigation'>
    <ul role='menubar' class='flex flex-row gap-4 sm:gap-2'>
      <li role='menuitem' class='min-w-6'>
        <ThemeToggle
          client:only='react'
          transition:persist
          transition:persist-props
        />
      </li>
      <li role='menuitem' class='min-w-6'>
        <AnimationToggle
          client:only='react'
          transition:persist
          transition:persist-props
        />
      </li>
      <!--  TODO: Add custom sound effects and toggle -->
      <!-- <li role='menuitem'>
        <a
          title='Sound'
          aria-label='Sound'
          href='/'
          class='hover:text-ring text-muted-foreground'
          ><Icon
            name='solar:headphones-round-sound-linear'
            class='h-6 w-6'
          /></a
        >
      </li> -->
      <li role='menuitem'>
        <a
          title='View all posts'
          aria-label='View all posts'
          href='/posts'
          class='hover:text-ring text-accent-foreground'
          ><Icon name='material-symbols:article-outline' class='h-6 w-6' /></a
        >
      </li>
      <li role='menuitem'>
        <a
          title='Go back home'
          aria-label='Go back home'
          href='/'
          class='hover:text-ring text-accent-foreground'
          ><Icon name='solar:home-2-outline' class='h-6 w-6' /></a
        >
      </li>
    </ul>
  </nav>
</header>
