---
import Header from '@/components/layout/Header.astro';
import BlurCircle from '@/components/ui/shapes/BlurCircle.astro';
import SEOTags from '@/components/layout/SEOTags.astro';
import type { HeadTags } from '@/utils/types/HeadTags';
import SquishyBubble from '@/components/ui/shapes/SquishyBubble.astro';
import NeonTriangle from '@/components/ui/shapes/NeonTriangle.astro';
import NeonMarble from '@/components/ui/shapes/NeonMarble.astro';
import SpeedInsights from '@vercel/speed-insights/astro';
import { Tooltips } from 'astro-tooltips';

import '@/styles/tailwind.css';
import { ViewTransitions } from 'astro:transitions';

export type Props = HeadTags;

const headTags = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <link
      as='font'
      crossorigin='true'
      rel='preload'
      href='/fonts/Nunito-Bold.ttf'
    />
    <link
      as='font'
      crossorigin='true'
      rel='preload'
      href='/fonts/Nunito-Regular.ttf'
    />
    <link
      as='font'
      crossorigin='true'
      rel='preload'
      href='/fonts/BowlbyOneSC-Regular.ttf'
    />
    <ViewTransitions />
    <SEOTags {...headTags} />
    <Tooltips placement='top' />
    <script is:inline>
      function setTheme() {
        const theme = (() => {
          if (
            typeof localStorage !== 'undefined' &&
            localStorage.getItem('theme')
          ) {
            return localStorage.getItem('theme');
          }
          if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            return 'dark';
          }
          return 'light';
        })();
        document.documentElement.className = theme;
        document.documentElement.dataset.theme =
          theme === 'light' ? 'github-light' : 'dracula';
      }

      document.addEventListener('astro:page-load', () => {
        setTheme();
      });

      document.addEventListener('astro:after-swap', () => {
        setTheme();
      });

      setTheme();
    </script>
  </head>

  <SpeedInsights />
  <body
    class='grid min-h-screen min-w-screen gap-10 px-6 md:px-10 pb-8 text-sm md:gap-20 md:pb-16 overflow-x-hidden'
  >
    <Header transition:persist />
    <BlurCircle position='top' transition:persist />
    <BlurCircle position='bottom' transition:persist />
    <SquishyBubble transition:persist />
    <NeonTriangle transition:persist />
    <NeonMarble transition:persist />
    <main role='main' class='mx-auto w-full grid gap-10 md:gap-20'>
      <slot />
    </main>
  </body>
</html>
