---
import Header from '@/components/layout/Header.astro';
import BlurCircle from '@/components/ui/shapes/BlurCircle.astro';
import SEOTags from '@/components/layout/SEOTags.astro';
import type { HeadTags } from '@/utils/types/HeadTags';
import SquishyBubble from '@/components/ui/shapes/SquishyBubble.astro';
import NeonTriangle from '@/components/ui/shapes/NeonTriangle.astro';
import NeonMarble from '@/components/ui/shapes/NeonMarble.astro';
import SpeedInsights from '@vercel/speed-insights/astro';
import { Tooltips } from 'astro-tooltips';
import { AstroFont } from 'astro-font';

import '@/styles/tailwind.css';
import { ViewTransitions } from 'astro:transitions';

export type Props = HeadTags;

const headTags = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      as='font'
      crossorigin=''
      rel='preload'
      href='https://fonts.gstatic.com/s/nunito/v26/XRXX3I6Li01BKofIMNaNRs7nczIHNHI.woff2'
      type='font/woff2'
    />
    <link
      as='font'
      crossorigin=''
      rel='preload'
      href='https://fonts.gstatic.com/s/bowlbyonesc/v25/DtVlJxerQqQm37tzN3wMug9P_gH2oipOnuCABQ.woff2'
      type='font/woff2'
    />
    <AstroFont
      config={[
        {
          src: [],
          name: 'Nunito',
          googleFontsURL:
            'https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap',
          preload: false,
          display: 'swap',
          cssVariable: 'font-sans',
          fallback: 'sans-serif',
        },
        {
          src: [],
          name: 'Bowlby One SC',
          googleFontsURL:
            'https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap',
          preload: false,
          display: 'swap',
          cssVariable: 'font-headline',
          fallback: 'sans-serif',
        },
      ]}
    />

    <ViewTransitions />
    <SEOTags {...headTags} />
    <Tooltips placement='top' />
    <script is:inline>
      function setTheme() {
        const theme = (() => {
          if (
            typeof localStorage !== 'undefined' &&
            localStorage.getItem('theme')
          ) {
            return localStorage.getItem('theme');
          }
          if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            return 'dark';
          }
          return 'light';
        })();
        document.documentElement.className = theme;
        document.documentElement.dataset.theme =
          theme === 'light' ? 'github-light' : 'dracula';
      }

      document.addEventListener('astro:page-load', () => {
        setTheme();
      });

      document.addEventListener('astro:after-swap', () => {
        setTheme();
      });

      setTheme();
    </script>
  </head>

  <SpeedInsights />
  <body
    class='grid min-h-screen min-w-screen gap-10 px-6 md:px-10 pb-8 text-sm md:gap-20 md:pb-16 overflow-x-hidden'
  >
    <Header transition:persist />
    <BlurCircle position='top' transition:persist />
    <BlurCircle position='bottom' transition:persist />
    <SquishyBubble transition:persist />
    <NeonTriangle transition:persist />
    <NeonMarble transition:persist />
    <main role='main' class='mx-auto w-full grid gap-10 md:gap-20'>
      <slot />
    </main>
  </body>
</html>
