---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & {
  label: string;
  isBold?: boolean;
  classes?: string[];
};

const { label, isBold, ...props } = Astro.props;
---

<a
  href={props.href}
  class:list={{
    ['hover:text-ring cursor-pointer text-accent-foreground hover:shadow-ring drop-shadow-md shadow-accent-foreground']: true,
    ['font-extrabold']: isBold,
  }}
  {...props}
  rel='noreferrer'
>
  {label}
  <span class='sr-only'>{label} link</span>
</a>
